body {
    font-family: 'Roboto', sans-serif;
    color: var(--brand-color);
}

:root {
    --brand-color: #212121;
    --card-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    --box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
            0px 4px 4px rgba(0, 0, 0, 0.06), 
            1px 4px 6px rgba(0, 0, 0, 0.16);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section__background {
    background-color: #F5F4FA;
}

.heading {
    margin: 0 auto;
    margin-bottom: 50px;
    
    text-align: center;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--brand-color);
}

/* HEADER */

.header {
    border-bottom: 1px solid #ECECEC;
}

.container--flex {
    display: flex;
}

.logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.logo__style {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo--black {
    color: #000;
}

.navigation {
    margin-right: auto;
}

.navigation__style {
    display: flex;
    padding-left: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 50px;
}

.navigation__link {
    position: relative;

    padding-left: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--brand-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link:focus {
    color: #2196F3;
}

.navigation--underlining::after{
    content: '';
    
    position: absolute;
    left: 0;
    bottom: calc(0px - 1px);
    
    display: block;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
}

.contacts {
    display: flex;
    padding-left: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 50px;
}

.contacts__style {
    display: flex;
    align-items: center;
    gap: 10px;
    object-fit: fill;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__style:hover,
.contacts__style:focus {
    color: #2196F3;
}

.contacts__icon {
    fill: currentColor;
}

.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* MAIN */

.cap {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    margin: 0 auto;
    
    background-color: #2F303A;
    background-image: linear-gradient( to right, 
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)), 
        url(../images/image/hat-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cap__title {
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: #FFFFFF;    
    text-align: center;
}

.cap__button {
    display: block;
    
    padding: 10px 32px;
    margin: 0 auto;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: #FFFFFF;
    background-color: #2196F3;
    border: none;
    border-radius: 4px;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cap__button:hover,
.cap__button:focus {
    background-color: #188CE8;
}

.features {
    padding-top: 94px;
}

.features__style {
    display: flex;
    padding: 0;
    gap: 30px;
}

.features__icon {
    width: 270px;
}

.features__icon::before {
    content: '';
    display: block;
    border-radius: 4px;
    margin-bottom: 30px;
    height: 120px;

    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;  
}

.features__icon--antenna::before {
    background-image: url(../images/icon/antenna.svg);
}

.features__icon--clock::before {
    background-image: url(../images/icon/clock.svg);
}

.features__icon--diagram::before {
    background-image: url(../images/icon/diagram.svg);
}

.features__icon--astronaut::before {
    background-image: url(../images/icon/astronaut.svg);
}

.features__title {
    padding-bottom: 10px;

    color: var(--brand-color);
}

.features__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.profile{
    display: flex;
    padding: 0;
    gap: 30px;
}

.profile__card {
    position: relative;
    height: 294px;
}

.profile--title {
    position: absolute;
    content: '';
    padding: 27px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);

    text-align: center;
    color: #FFFFFF;
}

.team {
    display: flex;
    padding: 0;
    gap: 30px;
}

.card {
    box-shadow: var(--card-shadow);
    border-radius: 0px 0px 4px 4px;
    background-color: #fff;
}

.card__description {
    padding: 30px 0;
    text-align: center;
}

.card__names {
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--brand-color);
}

.card__skills {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
}

.social {
    display: flex;
    justify-content: space-between;

    gap: 10px;
}

.social--bloc {
    padding: 16px 32px 0px 32px;
    margin: 0;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--fill {
    fill: #AFB1B8;
}

.social__link:hover,
.social__link:focus {
    fill: #FFFFFF;
    background-color: #2196F3;
}

.social__svg {
    width: 20px;
    height: 20px;
}

.customers {
    display: flex;
    padding: 0;
    margin: 0;

    gap: 30px;
}

.customers__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    padding: 0;
    margin: 0;
    
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__box:hover,
.customers__box:focus {
    border-color: #2196F3;
}

.customers__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;

    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover,
.customers__link:focus {
    fill: #2196F3;
}

.customers__svg {
    width: 106px;
    height: 60px;
}

.filters {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 50px;
    gap: 8px;
}

.filters__button {
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--brand-color);

    border: none;
    border-radius: 4px;

    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:hover,
.filters__button:focus {
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: var(--card-shadow)
}

.portfolio {
    display: flex;
    flex-wrap: wrap;

    padding: 0;
    margin: 0;
    margin-left: -30px;
    margin-top: -30px;
    list-style: none;
}

.portfolio-card {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover {
    box-shadow: var(--box-shadow);
}

.portfolio > .portfolio-card {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.overley {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.portfolio-card:hover .overley__absolute {
    transform: translateY(0);
}

.overley__absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overley__description {
    padding: 64px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.portfolio__description {
    padding: 20px 24px;

    border: 1px solid #EEEEEE;
    border-top: none;
}

.portfolio__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--brand-color);
}

.portfolio__direction {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

/* FOOTER */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;

    background-color: #2F303A;
}

.container--flex {
    display: flex;
}

.footer__box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 231px;
}

.logo--white {
    color: #fff;
}

.address {
    display: flex;
    flex-direction: column;

    padding-top: 20px;
}

.address > a:not(:last-child) {
    padding-bottom: 9px;
}

.address__map {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}

.address__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover,
.address__link:focus {
    color: #2196F3;
}

.footer__box--two {
    padding-left: 70px;
    padding-top: 12px;
}

.footer--title {
    padding-bottom: 20px;
    margin: 0 auto;

    color: #fff;
}

.social__link--color {
    fill: #fff;
    background-color: #44454E;
}

.social__link:hover,
.social__link:focus {
    background-color: #2196F3;
}

.social__svg {
    width: 20px;
    height: 20px;
}

.footer__box--three {
    padding-top: 12px;
    padding-left: 93px;
}

.subscribe {
    display: flex;

    gap: 12px;
}

.subscribe__input {
    padding: 0;
    margin: 0;
    padding-left: 12px;
    width: 358px;
    height: 50px;
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    background-color: transparent;
    color: #fff;

    outline: 0;
    outline-offset: 0;
}

.button {
    width: 200px;
    height: 50px;
    padding: 0;
    margin: 0;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    letter-spacing: 0.06em;
    
    color: #FFFFFF;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    border: none;
    
    cursor: pointer;
}

.button--size {
    width: 24px;
    height: 24px;

    margin-left: 10px;
}

.button--icon {
    width: 24px;
    height: 24px;

    fill: #FFFFFF;
}

/* MODAL WINDOW */

.backdrop {
    

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 528px;
    min-height: 581px;

    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.close__button {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close__button:hover,
.close__button:focus {
    fill: #2196F3;
}

.form {
    min-width: 448px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

.form__title {
    padding-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.blank {
    padding-bottom: 20px;
}

.label {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: #757575;
}

.blank__input {
    position: relative;
    margin-top: 4px;
    margin-bottom: 10px;
}

.input {
    padding: 0;
    padding-left: 42px;
    margin: 0;
    width: 100%;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    outline: 0;
    outline-offset: 0;

    cursor: pointer;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blank__input:hover>input,
.blank__input:hover,
.input:focus,
input:focus+.input__icon {
    border-color: #2196F3;
    fill: #2196F3;
}

.input__icon {
    position: absolute;
    top: 50%;
    left: 12px;

    transform: translateY(-50%);

    cursor: pointer;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
    padding-top: 12px;
    padding-left: 16px;
    margin: 0;
    margin-top: 4px;
    width: 100%;
    height: 120px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    outline: 0;
    outline-offset: 0;

    resize: none;
}

.textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.checkbox {
    padding-bottom: 30px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: #757575;
}

.checkbox__label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.checkbox__input {
    appearance: none;

    position: absolute;
}

.checkbox__input:checked+.checkbox__icon {
    border-color: #2196F3;
    background-color: #2196F3;
    background-image: url('../images/icon/icon-check.svg');
    background-size: contain;
    background-origin: border-box;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.checkbox__icon {
    display: inline-block;
    width: 16px;
    height: 15px;

    border: 2px solid #212121;
    border-radius: 2px;
}

.conditions {
    text-decoration-line: underline;

    color: #2196F3;
}

.button__form {
    display: block;
    margin: 0 auto;

    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;

    background: #2196F3;
    border-radius: 4px;
    border: none;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.button__form:hover,
.button__form:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}